/* Common css start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root{
    --primaryFont: font-family: 'Roboto', sans-serif;
    --primaryColor: 
}
.container{
    width: 1170px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* Common css end */
/* Video section css start */
section{
    background-color: gray;
    padding: 150px;
}
.text{
    width: 60%;
}
.video_img{
    width: 40%;
    position: relative;
}
.video_img img{
    max-width: 100%;
    border-radius: 20px;
}
.video_img i{
position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #ffffff;
display: inline-block;
text-align: center;
left: 50%;
top: 50%;
line-height: 50px;
font-size: 20px;
color: #4378A0;
cursor: pointer;
}
.text h4{
    width: 400;
    font-size: 20px;
    color: #0069b9;
}
.text h1{
    width: 700;
    font-size: 50px;
    align-items: center;
}
.text p{
    width: 400;
    padding: 18px 0;
    font-size: 16px;
    text-align: start;
}
.text button a{
    padding-bottom: 28px;
    width: 700;
    text-transform: capitalize;
    line-height: 20px;
    border: none;

}
/* Video section css end */
